/4_detect_tents_GD_rev.py
/acs_api_query.py
/cbg_description.ipynb
/census_blockgroup.py
/count_amenity_01mile.py
/data
/download_strview_img.ipynb
/homeless_tent_detector.py
EDA_time_series.ipynb
yolov8l-cls.pt
runs/.DS_Store
runs/classify/.DS_Store
runs/classify/train/.DS_Store
runs/classify/train/args.yaml
runs/classify/train2/args.yaml
runs/classify/train2/confusion_matrix_normalized.png
runs/classify/train2/confusion_matrix.png
runs/classify/train2/results.csv
runs/classify/train2/results.png
runs/classify/train2/train_batch0.jpg
runs/classify/train2/train_batch1.jpg
runs/classify/train2/train_batch2.jpg
runs/classify/train2/val_batch0_labels.jpg
runs/classify/train2/val_batch0_pred.jpg
runs/classify/train2/val_batch1_labels.jpg
runs/classify/train2/val_batch1_pred.jpg
runs/classify/train2/val_batch2_labels.jpg
runs/classify/train2/val_batch2_pred.jpg
runs/classify/train2/weights/best.pt
runs/classify/train2/weights/last.pt
runs/classify/train3/args.yaml
runs/classify/train3/confusion_matrix_normalized.png
runs/classify/train3/confusion_matrix.png
runs/classify/train3/results.csv
runs/classify/train3/results.png
runs/classify/train3/train_batch0.jpg
runs/classify/train3/train_batch1.jpg
runs/classify/train3/train_batch2.jpg
runs/classify/train3/val_batch0_labels.jpg
runs/classify/train3/val_batch0_pred.jpg
runs/classify/train3/val_batch1_labels.jpg
runs/classify/train3/val_batch1_pred.jpg
runs/classify/train3/val_batch2_labels.jpg
runs/classify/train3/val_batch2_pred.jpg
runs/classify/train3/weights/best.pt
runs/classify/train3/weights/last.pt
5_train_secondary_classifier.ipynb
runs/classify/train4/train_batch0.jpg
runs/classify/train4/train_batch1.jpg
runs/classify/train4/train_batch2.jpg
runs/classify/train4/args.yaml
runs_gpu/train3/confusion_matrix_normalized.png
runs_gpu/train3/confusion_matrix.png
runs_gpu/train3/results.csv
runs_gpu/train3/results.png
runs_gpu/train3/train_batch0.jpg
runs_gpu/train3/train_batch1.jpg
runs_gpu/train3/train_batch2.jpg
runs_gpu/train3/train_batch2540.jpg
runs_gpu/train3/train_batch2541.jpg
runs_gpu/train3/train_batch2542.jpg
runs_gpu/train3/val_batch0_labels.jpg
runs_gpu/train3/val_batch0_pred.jpg
runs_gpu/train3/val_batch1_labels.jpg
runs_gpu/train3/val_batch1_pred.jpg
runs_gpu/train3/val_batch2_labels.jpg
runs_gpu/train3/val_batch2_pred.jpg
gp_practice.ipynb
cleanse_311_data.ipynb
create_bbox_extract_geoid_dc.py
gaussian_processes_util.py
temp_311_category.csv
time_series_forecasting.ipynb
__pycache__/gaussian_processes_util.cpython-311.pyc
svgp_model_temp.py
SVGPs_first_try.ipynb
SVGP_practice.ipynb
compare_with_ground_truth.ipynb
